*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Noto Sans KR', sans-serif, 'helvetica', 'arial';
	font-weight:300;
	letter-spacing: 0.02em;
	line-height: 2em;
	color: #1a1a1a;
}
ul  { 
	list-style: none;
	
}
a{
	text-decoration: none;
	color: #1a1a1a;
}
:focus  {
	outline: 0; 
}
img{
	max-width:100%;
	max-height: 100%;
}
h2{
	font-family:'Montserrat', sans-serif;
}
.blackMobileLogo{
	display: none;
}
.pUpperSpacer{
	padding:20px;
}
.pBottomSpacer{
	padding-bottom:20px;
}
.upperPadding{
	padding-top:40px;
}
.smallUpperSpace{
	padding-top:20px;
}
.bottomSpacer{
	padding: 40px 0;
}
.center{
	text-align:center;
}
#white{
	color: #ffffff;
}
.logo{
	align-self:center;
}
.subpageMobileLogo{
	display:none;
}
nav{
	display:flex;
}
.menuLinks{
	display:flex;
	width: 100%;
	justify-content:space-around;
	align-self:center;
	font-size:.9em;
}
.current{
	font-weight:bold;
}
.subPageNav{
	padding: 4px;
	box-shadow: 0 4px 2px -2px #ddd;
}
.subPageNav .logo{
	max-width: 190px;
}
#homeLogo{
	max-width:240px;
	
}
.subPageNav a{
	width: 100%;
	text-align:center;
}
/*****************************************
MAIN NAV LINK EFFECTS
*******************************************/
.navLink {
  display: inline-block;
}

.link {
  position: relative;
  display: block;
  cursor: pointer;
}

.link:before, .link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 0;
  margin-top: -0.5px;
  background:#CEBC8B;
}

.link:before {
  left: -2.5px;
}
.link:after {
  right: 2.5px;
  background: #CEBC8B;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link:hover:before {
  background: #CEBC8B;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
/********************************
DROPDOWN LINKS
**********************************/
li a, .dropbtn {
  display: inline-block;
  text-align: center;
 }

li.dropdown {
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;
	width:180px;
}

.dropdownContent a {
  color: white;
  padding: 12px 4px;
  text-decoration: none;
  display: block;
	
  text-align: center;
  transition: font-weight .4s ease-in-out;
}

.dropdownContent a:hover {
	font-weight:700;
}

.dropdown:hover .dropdownContent {
  display: block
}
/*****************************************
HAMBURGER MENU
*******************************************/
.menu-wrap {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width:100%;
  background-color:#000;
  height:60px
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #CEBC8B;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .6s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 200vw;
  height: 1300px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}


.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
  padding: .8rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/*******************************************
HOME PAGE
********************************************/
.homeGallery{
	display:grid;
	grid-template-columns: repeat(11, 1fr); 
	grid-template-rows: repeat(5, 18vh);
	margin-top:130px;
}
.imageContainer{
	overflow: hidden;
}
.image{
	height: 100%;
	width: 100%;
	transition: all 0.5s ease;
}
.image:hover, .imageText{
	transform:scale(1.2);
}
.hairContainer{
	grid-column: 1 / 5;
	grid-row: 1 / 6;
	background-color: black;
}

.hairPic{
	background-image: url(images/salon-wavy-hair.jpg);
	background-size:cover;
	background-position:center;
}
.cafeContainer{
	grid-column: 5 / 8;
	grid-row: 4 / 6;
	background-color:grey;
}
.cafePic{
	background-image: url(images/mani-pedi.jpeg);
	background-size:cover;
}
.loungeContainer{
	grid-column: 8 / 12;
	grid-row: 1 / 6;
	background-color:#1a1a1a;
}

.loungePic{
	background-image: url(images/bridal-hairstyle.jpg);
	background-size:cover;
	
}
.spaContainer{
	grid-column: 5 / 8;
	grid-row: 1 / 4 ;
	background-color:floralwhite;
}
.spaPic{
	background-image: url(images/spa-atmosphere.jpeg);
	background-size:cover;
	}

.imageText{
	font-size: 1.4em;
	color: white;
	text-transform:uppercase;
}

.hairPicText{
	grid-column:3;
	grid-row:4;
}
.cafePicText{
	grid-column:5;
	grid-row:5;
	padding-left:20px;
}
.loungePicText{
	grid-column:8;
	grid-row: 4;
}
.spaPicText{
	grid-column:6;
	grid-row:3;
}
.bookButton{
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content:center;
	background-color: #1a1a1a;
}
.bookButton button{
	padding: 10px 30px;
	font-size: 1em;
	letter-spacing:.1em;
	background-color:transparent;
	color: #fff;
	border: 1px solid white;
}
.social{
	width: 20%;
	margin: 90px auto;
	display: flex;
	justify-content:space-between;
}
.socialIconSvg{
	transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.socialIconSvg:hover{
	transform: scale(1.2);
}
.welcomeText{
	width: 50%;
	margin: 40px auto;
	text-align:center;
}
.welcomeText h2{
	padding-bottom:20px;
}
.welcomeText h3{
	padding:40px 0 12px;
}
.welcomeText p{
	padding: 8px 0;
}
.covid{
	text-decoration:underline;
}
.update{
	text-align:left;
}
.productLinesHeadline{
	text-align:center;
	margin: 60px auto 40px;
}
.productLines{
	display: flex;
	width: 90%;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;

}
.productLines img{
	max-width: 120px;
	padding: 10px;
}
/******************************
FOOTER
********************************/
footer{
	width: 100%;
	background-color:#1a1a1a;
	margin-top:60px;
}

.upperFooter{
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content:space-between;
	color: white;
	align-items:center;
}
.locationSet{
	text-align:center;
	margin:60px auto;
	width: 100%;
}

.locationSet h3{
	margin:-14px 0 14px;
	font-size: 16px;
}
.officeHours{
	margin-top:14px;
	line-height: 20px;
}

.officeHours p{
	font-size:14px;
	padding:2px 0;
}
.mapIcon{
	max-height: 34px;
}
.lowerFooterContainer{
	background-color:#000;
	border-top:1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 40px 0;
	color:rgba(255, 255, 255, .80);
	font-size:12px;
}
.lowerFooter h3{
	color: white;
	text-transform:uppercase;
	padding: 20px 0;
}

footer a{
	color:rgba(255, 255, 255, .80);
}
.lowerFooter{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.footerLogo{
	flex:2;
}
.footerChunk{
	flex: 1;
	margin: 0 20px;
}
.lowerFooterHeading{
	position: relative;
}
.lowerFooterHeading:after{
	content: "";
    position: absolute;
    width: 36px;
    height: 3px;
    bottom: 0;
    left: 0;
	background:#CEBC8B;
}
.footerMenu ul, .footerNews p, .phoneFooter{
	margin-top: 20px;
}
.emailFooter{
	display: flex;
}
.emailFooter svg{
	align-self:center;
}
.emailFooter p{
	align-self:center;
	padding-left:14px;
}
footer a:hover, .linkHover:hover{
	background: -webkit-linear-gradient( left,#7E5936,#F5CB86);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.copyright{
	color:white;
	text-align:center;
	padding: 20px 0;
	background-color: #000;
}
small{
	font-size:10px;
}
.siteBy{
	transition: all .4s ease-in-out;
}
.siteBy:hover{
	font-size:12px;
}

/*************************
PRICE PAGE
**************************/
.priceListLinks{
	display:flex;
	justify-content:space-around;
	width:94%;
	margin: 60px auto;
	flex-wrap:wrap;
}
.priceContainer{
	background-color:white;
}
.priceLink{
	font-size:1.2em;
	transition: all .5s ease;
}
.priceLink:hover{
	color:#CEBC8B;
}
.priceHeadings{
	color:#CEBC8B;
	font-size:2.5em;
	text-align:center;
	margin-bottom:-40px;
	font-weight:400;
}
.pricePageContainers{
	padding: 40px 0;
}
.linkInPriceList{
	color: white;
	transition: all .5s ease;
}
.linkInPriceList:hover{
	color:#CEBC8B;
	letter-spacing:.1em;
}
.blackSeperator{
	color:black;
	font-weight:400;
}
.priceListLinksMobile{
	display:none;
}
.navLeft, .navRight{
	width:40%;
	display:flex;
	justify-content: space-around;
	align-items:center;
}
#centeredLogo{
	max-width:140px;
}
.hideLine{
	color:black;
}
/*************************
HAIR PAGE
**************************/
.hairServices{
	width: 96%;
	margin: 90px auto;
	display: flex; 
	justify-content:space-around;
	flex-wrap:wrap;
}
.servicesInner{
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
	margin: 0 auto;
	width: 100%;
}
.serviceList{
	background-color:#1a1a1a;
	width: 23vw;
	min-width:330px;
	color: white;
	padding: 40px 14px;
	margin: 10px auto;
}
.longServiceList{
	width: 30%;
}
.right{
	text-align:right;
}
.serviceList h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-align:center;
	margin-bottom: 10px;
}

.serviceList p{
	font-size:.9em;
}
.extraInstructions{
	line-height:22px;
	padding-top:14px;
}
.underline{
	width: 100%;
	margin-bottom: 20px;
}
.preAppointment{
	margin: 90px auto;
	display: grid;
	grid-template-columns: repeat(9, 1fr); 
	grid-template-rows: repeat(4, 1fr);
	box-shadow:0 0 6px #A4ADBA;
	max-width:1400px;
}
.appointmentImage{
	background-image:url(images/long-brown-hair.jpg);
	background-size:cover;
	grid-column: 1 / 5;
	grid-row: 1 / 5;
}
.appointmentText{
	grid-column: 5 / 10;
	grid-row: 1 / 5;
	padding: 60px;
	}
.appointmentText h3{
	font-family:'Montserrat', sans-serif;
	text-align:center;
	margin-bottom:20px;
}
.appointmentText span{
	font-size: .8em;
}

.appointmentSub{
	margin-bottom: 40px;
}
.depositRequired{
	padding-top:20px;
	text-align:center;
}
.button{
	width: 100%;
	margin: 90px auto;
	display: flex;
	justify-content:center;
}
.button button{
	padding: 10px 40px;
	font-size:1em;
	letter-spacing: .1em;
	border: 1px solid transparent;
	background: transparent;
	box-shadow:0 2px 5px 0 #A4ADBA;
	transition:all 0.3s ease;
	color:#1a1a1a;
}

.button button:hover{
	box-shadow:0 5px 5px 0 #A4ADBA;
	border-color:#EEF0F2;
}
.browsTitle{
	text-align:center;
	font-weight:300;
	font-size:2.5em;
	padding-top:220px;
	font-family:'Montserrat', sans-serif;
}
.lashPic{
	align-self:center;
}
.lashButton{
	margin-bottom:60px;
}
.lashPageNav{
	flex-direction:row;
	justify-content:space-between;
	position: fixed;
	top:0;
	left:0;
	right:0;
	background-color:white;
	z-index:10;
}
.lashPageNav a{
	width: auto;
}
.lashPageLinks{
	width: 70%;
}
.lashServicesContainer{
	width:100%;
	margin: 60px auto;
	justify-content:center;
}
.lashServiceList{
	margin:0;
	padding:10px;
	flex:1;
	align-self: center;
}
/******************************
HANDS AND FEET PAGE
*******************************/
.handsAndFeetContainer{
	display: grid;
	grid-template-columns: repeat(8, 1fr); 
	grid-template-rows: repeat(6, 1fr);
	margin: 60px auto;
	max-width: 1500px;
}

.manicureIntro{
	grid-column: 3 / 9;
	display: flex;
	background-color:black;
	color:white;
}
.nailsImage{
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	background-image:url(images/spa-manicure.jpg);
	background-size:cover;
	background-position:center;
}
.nailsInfo{
	grid-column: 3 / 9;
	grid-row: 2 / 4;
	padding: 20px;
	display: flex;
	flex-wrap:wrap;
}

.feetImage{
	grid-column: 7 / 9;
	grid-row: 4 / 7 ;
	background-image:url(images/pedicure.jpg);
	background-size:cover;
	background-position:center;
	margin-top:20px;
}
.feetIntro{
	margin-top:20px;
	grid-column: 1 / 7;
	grid-row: 4 / 5 ;
	background-color:black;
	color:white;
	display: flex;
}

.feetInfo{
	grid-column: 1 / 7;
	grid-row: 5 / 7;
	display:flex;
	flex-wrap:wrap;
	padding: 20px;

}
.introInner{
	align-self:center;
	padding: 0 20px;
}

.nailPrices1, .nailPrices2{
	flex: 1;
	padding: 10px 30px;
}
.handsTitle{
	text-align:center;
}
.manicure, .subPricing{
	display: flex;
	justify-content:space-between;
}
.manicureWithSub{
	flex-direction:column;
}
/*************************
MAKE UP AND FACIALS PAGE
**************************/
.faceContainer{
	width: 80%;
	margin: 60px auto;
	display: flex;
}
.facialContainer{
	padding-right: 20px;
	flex: 3;
}
.facialImageContainer{
	width: 100%;
	flex: 2;
	max-height:800px;
	display: grid;
	padding-left:20px;
	grid-gap:20px;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(3, 1fr);
}
.makeupInfo{
	padding-bottom:20px;
}
.makeupInfo h3{
	padding-bottom:10px;
}
.priceList{
	display: flex;
	justify-content: space-between;
	width: 76%;
}
.makeup1, .makeup2, makeup3, .massage1, .massage2, .massage3, .waxing1, .waxing2, .waxing3, .party1, .party2, .party3{
	background-size:cover;
	background-position:center;
}
.linkHover{
	font-style:italic;
}
.makeup1{
	background-image:url(images/facial.jpg);
	grid-column:1 / 3;
	grid-row: 1 / 3;
	
}
.makeup2{
	background-image:url(images/makeup-application.jpg);
	grid-column:1 / 2;
	grid-row: 3 / 4;
}
.makeup3{
	background-image:url(images/makeup-.jpg);
	grid-column:2 / 3;
	grid-row: 3 / 4;
}
.facial h4{
	padding: 10px 0;
}

/******************************
MASSAGE AND SALT THERAPY PAGE
*******************************/
.massage1{
	background-image:url(images/massage.jpg);
	grid-column:1 / 3;
	grid-row: 1 / 3;
}
.massage2{
	background-image:url(images/salt-therapy.jpg);
	grid-column:1 / 2;
	grid-row: 3 / 4;
}
.massage3{
	background-image:url(images/massage3.jpg);
	grid-column:2 / 3;
	grid-row: 3 / 4;
}

/******************************
HAIR REMOVAL
*******************************/
.waxing1{
	background-image:url(images/body-sugaring.jpg);
	grid-column:1 / 3;
	grid-row: 1 / 3;
}
.waxing2{
	background-image:url(images/waxing.jpg);
	grid-column:1 / 2;
	grid-row: 3 / 4;
}
.waxing3{
	background-image:url(images/hair-removal.jpg);
	grid-column:2 / 3;
	grid-row: 3 / 4;
}

/******************************
CONTACT ABOUT PAGE
*******************************/
.backgroundContainer{
	background-image:url(images/selkirk-salon.jpg);
	background-size: cover;
	height: 70vh;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
}
.aboutNav{
	box-shadow: none;
}
.aboutContactContainer{
	display: flex;
	width: 90%;
	margin: 60px auto;
	align-items:flex-start;
}

.contact{
	display: flex;
	flex-direction:column;
	justify-content: center;
	flex: 1;
	border-right: 1px solid #1a1a1a;
}
.about{
	flex: 3;
}
.aboutInner{
	width: 90%;
	margin: 0 auto;
	
}
.contactHeader{
	text-align:center;
	padding-bottom:60px;
	font-family: 'Montserrat', sans-serif;
}
.contactInfo{
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}
.contactInfo img{
	align-self:center;
}
.phoneImage{
	max-width: 30px;
}
.emailImage{
	max-height: 40px;
}
.contactSocial{
	width: 90%;
	margin: 40px auto;
}
.contactBookButton{
	margin: 20px auto;
}
.staffInsta{
	margin-right:14px;
}
.stylist{
	font-family: 'Montserrat', sans-serif;
}

.stylistTitle{
	font-family: 'Montserrat', sans-serif;
}
.staffTitle{
	padding-left:20px;
	width:100%;
}
.melImage{
	align-self:center;
	max-width:300px;
	margin-left: 30px;
	float:right;
	box-shadow:0 0 6px #A4ADBA;
}
.staff{
	display: flex;
	width: 90%;
	margin: 0 auto;
	align-items:flex-start;
	flex-wrap:wrap;
}
.stylistName{
	padding:20px 0;
}
.staffBio{
	display: flex;
	flex-direction:column;
	justify-content:center;
	padding:20px;
	width:100%;
	
}
.staffBio img{
	align-self:center;
}

/******************************
PARTIES & EVENTS PAGE
*******************************/
.party1{
	background-image:url(images/private-spa-party.jpg);
	grid-column:1 / 3;
	grid-row: 1 / 3;
}
.party2{
	background-image:url(images/spa-girls.jpeg) ;
	grid-column:1 / 2;
	grid-row: 3 / 4;
}
.party3{
	background-image:url(images/spa-party-2.jpg);
	grid-column:2 / 3;
	grid-row: 3 / 4;
}

/******************************
THANK YOU PAGE
*******************************/
.thankYouBackground{
	background-image:url(images/thank-you.png);
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
  	background-position: center right;
  	background-repeat: no-repeat;
}
.thankYouText{
	position: absolute;
	top:30%;
	color:white;
	text-align:center;
	width:100%;
	font-family: 'Montserrat', sans-serif;
}
.thankYouHeading{
	font-size: 5em;
	padding: 60px 0;
}
.thankYouText h2{
	font-size:2em
}
.thankYouText h3{
	width: 40%;
	margin: 0 auto;
}


/******************************
BOOK PAGE GIFT CERTIFICATES AND SUBSCRIBE
*******************************/
.bookPageContainer{
	margin: 60px auto;
}
.bookPageOptions{
	display: flex;
	margin: 0 auto;
	width: 90%;
	justify-content: space-between;
}
.bookPageContact{
	display: flex;
	flex-direction: column;
	align-items:center;
	background-color:#f7f7f7;
	padding: 20px;
	flex:1;
	margin: 0 20px;
	text-align:center;
}
.bookPageTitles{
	padding: 90px 0 40px;
}
.bookPageContact img{
	margin: 30px 20px;
}
.bookPageEmail{
	flex:2;
}
.bookPageTitle{
	padding: 60px 0 40px;
}
.bookPageSubscribe{
		width: 40%;
		margin: 0 auto;
		max-width: 500px;
	}
.paypalForm{
	margin: 0 auto;
	width: 500px;
}
.paypalTable{
	width: 100%;
}
.paypalButton{
	padding-left:40%;
	padding-top:20px;
}
.paypalTitle{
	font-family: 'Montserrat', sans-serif;
}
.gcConditions{
	width: 50%;
	margin: 0 auto;
	font-size:.9em;
	text-align:center;
}

}
.socialInfo{
	font-weight: bold;
	font-size: 1.1em;
}
.cafeSocial{
	width: 50%;
	margin: 20px auto;
	justify-content:space-between;
}
/******************************************
CONTACT FORM
---------------------------------------- */
.contactForm{
	margin: 40px auto;
}
.contactHeading{
	text-align:center;
	font-size:1.3em;
	font-family: 'Montserrat', sans-serif;
}
::-webkit-input-placeholder { color: #1a1a1a; }
:-moz-placeholder { color: #1a1a1a; }
::-moz-placeholder { color: #1a1a1a; }
:-ms-input-placeholder { color: #1a1a1a; }

.text-light ::-webkit-input-placeholder { color: #ffffff; }
.text-light :-moz-placeholder { color: #ffffff; }
.text-light ::-moz-placeholder { color: #ffffff; }
.text-light :-ms-input-placeholder { color: #ffffff; }

input[type=text], input[type=password], input[type=email], textarea {
	font-weight: 300;
	font-size: 14px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	line-height: 22px;
	height: 22px;
	color: #1a1a1a;
	padding: 10px;
	transition: all 200ms ease;
	border-radius: 0px;
	-moz-border-radius:0x;
	-khtml-border-radius:0px;
	-webkit-border-radius:0px;
	resize: none;
	}
	.text-light input[type=text], .text-light input[type=password], .text-light input[type=email], .text-light textarea { border-color: #3d3d3d; color: #ffffff; background: #0f0f0f; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus { border-color: #1a1a1a; }
.text-light input[type=text]:focus, .text-light input[type=password]:focus, .text-light input[type=email]:focus, .text-light textarea:focus { border-color: #ffffff; }

input.false[type=text], input.false[type=password]:focus, input.false[type=email], textarea.false {
	border-color: #fa4d5a;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%; max-width: calc(100% - 22px);
}
textarea { 
	width: 100%; min-height: 100px; max-width: calc(100% - 22px); 
}

input[type=submit], input[type=button] {
	cursor: pointer;
	-moz-border-radius:0x;
	-khtml-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius: 0px;
	display: inline-block;
	font-weight: 700;
	font-size: 11px;
	line-height: 22px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
    transition: all 0.4s ease;
	color: #ffffff;
	padding: 10px 40px;
	background: #1a1a1a;
	border: none;
	position: relative;
	top: -1px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	}
	
input[type=submit]:hover, input[type=button]:hover{ 
	background: linear-gradient(to right,#7E5936,#F5CB86);
	color: #ffffff;  
}

label {
	letter-spacing: -0.02em;
	width: 100%;
	color: #1a1a1a;
	display: block;
	}
	
label abbr {
	color: #361449;
	text-decoration: none;
	}

form {
	margin-top: 30px;
	}

form .form-row {
	margin-top: 20px;
	position: relative;
	}
	

.form-row.hidden {
	display: none;
	}

form .form-submit {
	margin-top: 30px;
	}
.submitButton{
	text-align:center;
}


/* Chech formular */
.check-error input[type=text], .check-error input[type=password], .check-error input[type=email], .check-error textarea,
input[type=text].check-error , input[type=password].check-error , input[type=email].check-error , textarea.check-error {
	border-color: #ff4b14;
	}
.form-note {
	display: none;
	}

.address{
	margin: 90px auto;
	max-width: 80%;
}

.map{
	text-align:center;
}
iframe{
	max-width: 100%;
}
.otherLinks{
	font-weight:bold;
	background: -webkit-linear-gradient( left,#7E5936,#F5CB86);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/******************************
EMAIL SIGN UP FORM
*******************************/
#mc_embed_signup{
	width: 90%;
	
}
#mc_embed_signup form{
	padding: 0;
}
.clear{
	text-align:center;
	max-width: calc(100% - 22px);
}
.emailFormLabel{
	padding: 16px 0 4px;
	color: white;
}
#mc-embedded-subscribe{
	margin: 20px auto;
}
.subscriptionDescription{
	margin-top:20px;
}
#mc-embedded-subscribe-form{
	margin-top:0;
}
.blackFormLabel{
	color: #1a1a1a;
}
#mc_embed_signup input{
	border-radius: 0;
}
#mc_embed_signup .mc-field-group{
	width: 100%;
}
#mc_embed_signup .button{
	background: -webkit-linear-gradient( left,#7E5936,#F5CB86);
	font-size:12px;
	border-radius: 0;
	padding: 0;
	font-size:1em;
	letter-spacing: .1em;
	display: block;
	margin: 20px auto;
	width: 100%;
	font-family:'Noto Sans KR', sans-serif, 'helvetica', 'arial';
	height:40px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#mc_embed_signup .button:hover{
	letter-spacing:.2em;
}

/******************************
MEDIA QUERIES
*******************************/
@media(max-width:1300px){
	.lowerFooter{
		width:94%;
	}
	.faceContainer{
		width: 90%;
	}
}
@media(max-width:1250px){
	.lashPic{
		order:3;
	}
	.lashPageLinks{
		width: 84%;
	}
	.aboutContactContainer{
		width: 96%;
	}
	.contactInfo{
		padding: 20px 10px 20px 0;
	}
	.nailsImage{
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	}
}
@media(max-width:1200px){
	.lashPic{
		margin-top:30px;
	}
	.cafePageContainer{
	width: 90%;
	}
	.menu-wrap{
		display:block;
	}
	.blackMobileLogo{
		display: block;
		max-width: 50%;
		margin:90px auto 0;
	}
	.hairServices{
		margin: 0 auto;
	}
	.hairContainer{
		background-color:white;
	}
	nav{
		display:none;
	}
	.browsTitle{
		padding-top: 40px;
		font-size: 1.6em;
	}
	.subpageMobileLogo{
		display: block;
		max-width: 300px;;
		margin:80px auto 30px;
	}
	.contactHeader{
		padding:20px 0;
		font-size:1.8em;
	}
	.cafePageContainer{
		margin: 0 auto;
		width:96%;
	}
	.cafeImages{
		max-height:800px;
	}
	.homeGallery{
		display:none;
	}
}
@media(max-width:1060px){
	.aboutContactContainer{
		flex-direction: column;
		align-items: baseline;
	}
	.contactContainer{
		margin: 0 auto;
	}
	.contact{
		width: 70%;
		margin: 0 auto;
		border-right: 1px solid white;
	}
	.staffTitle{
		padding-left:0;
	}
	.staffBio{
		padding:0;
	}
	.faceContainer{
		flex-direction:column;
		margin: 0 auto;
	}
	.backgroundContainer{
		display: none;
	}
	.priceList{
		width: 100%;
	}
	.facialContainer{
		padding: 0;
		order:2;
		padding-top:20px;
	}
	.facialImageContainer{
		padding-left:0;
		padding-top:30px;
		order:1;
		grid-gap:10px;
		grid-template-columns: repeat(2, 1fr); 
		grid-template-rows: repeat(2, 100px);
	}
	.makeup1, .massage1, .waxing1{
		grid-column:1 / 2;
		grid-row: 1 / 3;
	
	}
	.makeup2, .massage3, .waxing2{
		grid-column:2 / 3;
		grid-row: 1 / 3;
		}
	.makeup3, .massage2, .waxing3{
		display:none;
		}
	.bookPageOptions{
		width: 96%;
	}
	.bookPageContact{
		margin: 0 12px;	
		}
	.handsAndFeetContainer{
		display: flex;
		flex-direction:column;
		margin:30px auto;
	}
	.manicureIntro, .feetIntro{
		background-color:white;
		color: #1a1a1a;
		padding: 0 30px;
	}
	.nailsInfo, .feetInfo{
		flex-direction: column;
	}
	
}
@media(max-width:1000px){
	.social{
		width:70%;
	}
	.lowerFooterContainer{
		padding: 20px 0;
	}
	.lowerFooter{
		flex-direction:column;
	}
	#mce-EMAIL{
		max-width: 100%;
	}
	#mce-FNAME{
		max-width: 100%;
	}
	.clear{
		max-width: 100%;
	}
	#mc_embed_signup{
		width: 70%;
		margin: 0 auto;
	}
	.footerChunk{
		width: 70%;
		margin: 0 auto;
	}
	small{
		font-size:12px;
	}
	.bookPageSubscribe{
		width: 60%;
	}
	.appointmentText{
		padding: 20px 10px;
		grid-column: 1 / 10;
	}
	.appointmentSub{
		margin-bottom: 0;
	}
	.innerAppointment{
		text-align:center;
	}
	.appointmentImage{
		opacity:.2
	}
	.priceListLinks{
		display:none;
	}
	.priceListLinksMobile{
		display: flex;
		width:96%;
		margin: 40px auto;
		justify-content: space-around;
		flex-wrap:wrap;
	}
	.priceLink{
		padding:10px 20px;
		box-shadow:0 2px 5px 0 #A4ADBA;
	}
	.priceTitle{
		padding-top:60px;
	}
	.priceHeadings{
		margin-bottom:0;
	}
}
@media(max-width:800px){
	.bookPageOptions{
		width: 80%;
		flex-direction:column;
	}
	.bookPageContact{
		margin: 12px auto;	
		}
	.welcomeText{
		margin: 30px auto;
	}
	.lashServicesContainer{
		margin: 20px auto;
	}
	.aboutContactContainer{
		margin: 0 auto;
	}
	.cafeSocial{
		width:40%;
	}
	.thankYouText{
		top:20%;
	}
	.thankYouText h3{
		width: 80%;
	}
	.priceHeadings{
		line-height:50px;
		font-size:1.8em;
	}
	.priceTitle{
		padding-top:40px;
	}
}
@media(max-width:750px){
	.upperFooter{
		flex-direction: column;
		padding: 30px 0;
	}
	.locationSet{
		margin: 20px auto 10px;
	}
	.bookPageTitle{
	padding: 40px 0;
	}
	
	.hairContainer{
		padding: 10px 0;
	}
	.button{
		margin: 60px auto;
	}
	.social{
		margin: 30px auto;
	}
	.welcomeText{
		width: 80%;
	}
	.melImage{
		max-width: 180px;
		margin-left: 10px;
	}
	.contactHeader{
		font-size:1.2em;
	}
	.phoneImage, .emailImage{
		max-width: 20px;
	}
	.contactInfo{
		padding: 20px 0;
	}
	.preAppointment{
		margin: 0 auto;
	}
	.productLinesHeadline{
		display:none;
	}
	.productLines{
		display:none;
	}
	.cafePageContainer{
		flex-direction:column;
	}
	.cafeImages{
		height:200px;
		order:1;
		grid-gap:0;
	}
	.cafeContent{
		order:2;
		margin: 0 auto;
	}
	.cafeTitle{
		text-align:center;
		padding-top:30px;
	}
	.socialInfo{
		text-align:center;
	}
	.cafe2, .cafe3, .cafe5, .cafe6, .cafe7{
		display:none;
	}
	.cafe1{
		grid-row: 1 / 7;
	}
	.cafe4{
		grid-column:4/7;
		grid-row: 1 / 7;
	}
	.removeMobile{
		display:none;
	}
	.welcomeText h3{
		padding: 0 0 12px;
	}
}
@media(max-width:600px){
	.makeup2, .massage1, .waxing1{
		grid-column:1 / 3;
		grid-row: 1 / 3;
	
	}
	.makeup1, .massage3, .waxing2{
		display:none;
		}
	.paypalForm{
		width: 90%;
	}
	.appointmentImage{
		grid-column: 1 / 10;
	}
	.gcConditions{
		width: 80%;
	}
}
@media(max-width:650px){
	.lashPic{
		order:2;
		margin-top:0;
	}
	.serviceList1{
		order:1
	}
	.serviceList2{
		order:3;
	}
	.welcomeText{
		width:90%;
		margin: 30px auto;
	}
	.contactSocial{
		width: 100%;
	}
	.thankYouBackground{
		background-image:url(images/thank-you-mobile.png);
	}
	
}
@media(max-width:500px){
	#mc_embed_signup{
		width: 90%;
	}
	.footerChunk{
		width: 90%;
	}
	.bookPageOptions{
		width: 90%;
	}
	.bookPageSubscribe{
		width: 80%;
	}
	.manicureIntro, .feetIntro, .nailPrices1, .nailPrices2, .nailsInfo, .manicureIntro, .feetIntro{
		padding: 0 10px;
	}
	.priceListLinksMobile p{
		margin-top:34px;
	}
	
	
	
}
@media(max-width:400px){
	.browsTitle{
		font-size:1.8em;
	}
	.contact{
		width: 90%;
	}
	.paypalButton{
		padding-left:0;
	}
}

